--- 
layout: default 
---

<!-- <style type="text/css" href="css/jquery.fullPage.css"></style> -->
<script type="text/javascript" src="js/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="/js/ScrollMagic.js"></script>
<style>
    /* Defining each section background and styles
    * --------------------------------------- */
    #trigger1{
        background: -webkit-gradient(linear, top left, bottom left, from(#ffffff), to(#7e8db7));
        background: -webkit-linear-gradient(#ffffff, #7e8db7);
        background: linear-gradient(#ffffff,#7e8db7);
    }

    #trigger2{
        background: -webkit-gradient(linear, top left, bottom left, from(#7e8db7), to(#7baabe));
        background: -webkit-linear-gradient(#7e8db7, #7BAABE);
        background: linear-gradient(#7e8db7,#7BAABE);
    }

    #trigger3{
        background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#636F8F));
        background: -webkit-linear-gradient(#7baabe, #636F8F);
        background: linear-gradient(#7baabe,#636F8F);
    }

    #trigger4{
        background: -webkit-gradient(linear, top left, bottom left, from(#636F8F), to(#000000));
        background: -webkit-linear-gradient(#636F8F, #000000);
        background: linear-gradient(#636F8F,#000000);
    }

.section {

    padding-top: 50px;
}
</style>
<div class="home">
    <div id="fullpage">
        <!-- =====================section0=================== -->
        <div class="section" id="trigger0" style="background-color:; padding-top:0px;">
            <header class="site-header">
                <div class="wrapper">
                    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
                    <nav class="site-nav">
                        <a href="#" class="menu-icon">
                            <svg viewBox="0 0 18 15">
                                <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z" />
                                <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z" />
                                <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z" />
                            </svg>
                        </a>
                        <div class="trigger">
                            {% for my_page in site.pages %} {% if my_page.title %}
                            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a> {% endif %} {% endfor %}
                        </div>
                    </nav>
                </div>
            </header>
            <div class="row" style="position:relative;">
                <div class="container">
                    <div class="row">
                        <div style="text-align:center; padding-top:20%; ">
                            <h1 id="welcometext" style="font-size:180px;">Coucou!</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="position:relative; padding-top:15%;">
                <div class="down" style="text-align:center;">
                    <p><i class="fa fa-chevron-down fa-4x" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <!--  =====================section1=================== -->
        <div class="section" id="trigger1" style="background-color:;">
            <div class="row" style="position:relative;">
                <div class="container">
                    <h1 id="s1-title">个人生活环境</h1>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <button class="btn btn-default btn-primary" style="position:absolute;" onclick="DisplaySchool()">zhixin</button>
                        <button class="btn btn-default btn-primary" style="position:absolute; left:200px;" onclick="DisplayCollage()">scut</button>
                        <button class="btn btn-default btn-primary" style="position:absolute; left:400px;" onclick="DisplayBuilding()">back</button>
                        <img class="s1-b1-l img-responsive" src="img/section1/building1-left.png" alt="" style="left:-800px; top:176px; position:absolute;" height="400px; z-index:1">
                        <img class="s1-b2-l img-responsive" src="img/section1/building2.png" alt="" style="left:-800px; top:176px; position:absolute;" height="400px; z-index:2">
                        <img class="s1-b3-l img-responsive" src="img/section1/building3.png" alt="" style="left:-800px; top:176px; position:absolute;" height="400px; z-index:3">
                        <img class="s1-zhixin img-responsive" src="img/section1/zhixin.png" alt="" style="left:-800px; top:300px; position:absolute;" height="400px; z-index:1">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img class="s1-b1 img-responsive" src="img/section1/building1.png" alt="" style="right:-800px; top:176px; position:absolute;" height="400px; z-index:1">
                        <img class="s1-b2 img-responsive" src="img/section1/building2.png" alt="" style="right:-800px; top:176px; position:absolute;" height="400px; z-index:2">
                        <img class="s1-b3 img-responsive" src="img/section1/building3.png" alt="" style="right:-800px; top:176px; position:absolute;" height="400px; z-index:3">
                        <img class="s1-tower img-responsive" src="img/section1/canton.png" alt="" style="right:-800px; top:70px; position:absolute;" height="500px; z-index:4">
                        <img class="s1-scut img-responsive" src="img/section1/scut.png" alt="" style="right:-800px; top:300px; position:absolute;" height="400px; z-index:1">
                    </div>
                </div>
            </div>
        </div>
        <!-- =====================section2=================== -->
        <div class="section" id="trigger2">
            <div class="container">
                <h1>能力+简历</h1>
                <div class="row" style="position:relative;">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <p>前端:<span>lalala</span></p>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                    </div>
                </div>
            </div>
        </div>
        <!-- =====================section3=================== -->
        <div class="section" id="trigger3">
            <div class="container">
                <h1>文章</h1>
            </div>
            
        </div>
        <!-- =====================section4=================== -->
        <div class="section" id="trigger4">
            <div class="container">
                <h1>联系方式</h1>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {

    $('#fullpage').fullpage();
    //use for popover

    $("[data-toggle=popover]").popover();

    //=====================Section0 no scean====================
    $('#welcometext').addClass("animated bounceIn").delay(1000).fadeOut(400,function(){
        $(this).html("I am Leo").css("color","#000000").fadeIn(400);
    });






    var controller = new ScrollMagic.Controller();

    //=====================Section0====================
    var scene1 = new ScrollMagic.Scene({
        duration: 300,
        offset: 300,
        triggerElement: "#trigger0",
        triggerHook: "onEnter",
        reverse: true
    });

    scene1.on("start", function() {
        // DisplayBuilding ();

    });
    scene1.addTo(controller);

    //=====================Section1====================
    var scene1 = new ScrollMagic.Scene({
        duration: 300,
        offset: 300,
        triggerElement: "#trigger1",
        triggerHook: "onEnter",
        reverse: true
    });

    scene1.on("start", function() {
        DisplayBuilding ();
    });
    scene1.addTo(controller);


    //=====================Section2====================
    var scene1 = new ScrollMagic.Scene({
        duration: 300,
        offset: 300,
        triggerElement: "#trigger2",
        triggerHook: "onEnter",
        reverse: true
    });

    scene1.on("start", function() {
        DisplayBuilding ();
    });
    scene1.addTo(controller);
});



  function DisplayBuilding (){
    // show all the building
     $('.s1-b1-l').animate({
            "left": "0px"
        }, 400);
        $('.s1-b2-l').animate({
            "left": "0px"
        }, 600);
        $('.s1-b3-l').animate({
            "left": "0px"
        }, 500);

        $('.s1-b1').animate({
            "right": "0px"
        }, 400);
        $('.s1-b2').animate({
            "right": "0px"
        }, 600);
        $('.s1-b3').animate({
            "right": "0px"
        }, 500);
        $('.s1-tower').animate({
            "right": "0px"
        }, 800, function() {
            // $('#s1-title').slideDown(1000);
        });
    //hide school and collage img
        $('.s1-zhixin').animate({
            "left": "-800px"
        }, 500);

        $('.s1-scut').animate({
            "right": "-800"
        }, 500);

  }

  function DisplaySchool (){
        //hide all the building and tower
        $('.s1-b1,.s1-b2,.s1-b3,.s1-tower').animate({
            "right": "-800"
        },500);
        $('.s1-b1-l,.s1-b2-l,.s1-b3-l').animate({
            "left":"-800"
        },500);

        //hide the collage img
        $('.s1-scut').animate({
            "right": "-800"
        }, 500);

        //show the school img
        $('.s1-zhixin').animate({
            "left": "0px"
        }, 500);
  }



  function DisplayCollage (){
         //hide all the building and tower
        $('.s1-b1,.s1-b2,.s1-b3,.s1-tower').animate({
            "right": "-800"
        },500);
        $('.s1-b1-l,.s1-b2-l,.s1-b3-l').animate({
            "left":"-800"
        },500);
        //hide the school img
        $('.s1-zhixin').animate({
            "left": "-800px"
        }, 500);
        //show the collage img
         $('.s1-scut').animate({
            "right": "0px"
        }, 500);
  }
</script>
